{% extends 'base.html.twig' %}

{% block title %}Liste de tous les articles{% endblock %}

{% block content %}
    <nav class="float-end my-2">
        <a href="{{ path('posts_create') }}" class="btn btn-primary">Créer un article</a>
    </nav>

    <h1>Liste des articles</h1>

    <section class="row row-cols-1 row-cols-md-3 g-4 my-2">
        {% for post in posts %}
            <div class="col">
                <article class="card">
                    <div class="card-body">
                        <header class="border-bottom pb-2 mb-2">
                            <h2 class="card-title h5">{{ post.title }}</h2>
                            <p class="small">Rédigé le {{ post.createdAt|date('d/m/Y') }} dans la catégorie <em>{{ post.category.name }}</em></p>
                        </header>
                        {{ post.description|slice(0, 100) }}[...](<a href="{{ path('posts_show', {id: post.id}) }}">Voir la suite</a>)

                        <nav class="my-2 border-top py-2">
                            <a class="btn btn-primary" href="{{ path('posts_show', {id: post.id}) }}">Voir l'article</a>
                            <a class="btn btn-success" href="{{ path('posts_create', {id: post.id}) }}">Modifier l'article</a>
                        </nav>
                    </div>
                </article>
            </div>
        {% endfor %}
    </section>
{% endblock %}